html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.section-title,
.cover-heading {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}


.btn {
    padding-right: 25px;
    padding-left: 25px;
    transition: all .5s ease-in;
}
.cover-button .btn-success:hover {
    background-color: #1e2e4d;
    color: #fff
}